body {
	background-color: #EEE;
}

div {
	float:left;
}


canvas {
	border: 2px solid;
}

h1 {
	margin-bottom: 0px;
}

h1, h {
	margin-left: 10px;
}

p {
	top: -80px;
	position: relative;
	left: 100px;
}

#canvasWrapper,
#botonera,
#paperWrapper,
#paperWrapper2{
	margin: 10px;
}

#paperWrapper,
#paperWrapper2{
	position: relative;
	width: 400px;
	height:400px;
}

#botonera{
	border: 2px solid;
}

#botonera div{
	margin-left: 5px;
}