body {
	background-color: #EEE;
}

div {
	float:left;
}


h1 {
	margin-bottom: 0px;
}

h1, h {
	margin-left: 10px;
}

p {
	top: -80px;
	position: relative;
	left: 100px;
}
#canvasWrapper{
	position: relative;
	width: 300px;
	height: 400px;
	border: 2px solid;
}

#canvasWrapper,
#botonera,
#grafico{
	margin: 10px;
}

#grafico{
	position: relative;
	width: 600px;
	height: 400px;
	border: 2px solid;
}

#botonera,
#ref{
	border: 2px solid;
}

#ref{
	clear: both;
	position: relative;
}

#botonera div{
	margin-left: 5px;
}
#refFinDif,
#refAnalytical{
	clear: both;
	position: relative;
	width: 200px;
}
#refFinDif{
	background-color: #F00;
}

#refAnalytical{
	background-color: #0F0;
}